.cardCart{

    display: flex;
    align-items: center;
    width: 90%;
    margin: 5px auto;

}

.cardCart > img{

    width: 70px;
    height: 66px;
    background-color: #dbdbdb;

}

.containerConteudos{

    display: flex;
    width: 100%;
    justify-content: space-between;
}

.containerConteudos__nomeCategoria{

    padding: 10px 0px 0px 10px;

}

.containerConteudos__nomeCategoria > h3{

    font-size: 0.9rem;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.containerConteudos__nomeCategoria > span{

    margin: 0;
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 0.7rem;
    color: var(--grey-300);


}

.containerConteudos__btn{

   text-align: right;
   width: 100%;

}

.containerConteudos__btn > button{

    margin: 0;
    margin-top: 12px;
    text-align: right;
    font-weight: 500;
    font-size: 0.9rem;
    background-color: transparent;
    color: #a4a4a4;


}

.btn__containarAmaunt{

    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn__containarAmaunt > button{

    margin: 0;
    padding: 0px;
    width: 25px;
    height: 25px;
}

.btn__containarAmaunt > span{

    margin: 0;
    text-align: center;
    margin: 0 5px;

}

