 
.conatinerCart{

    width: 90%;
    margin: 0 auto 20px auto;

}

.headerCart{
  
    background-color: var(--Color-primary);
    border-radius: 5px 5px 0px 0px;
    
}

.headerCart > h1{

    font-weight: 700;
    color: white;
    padding: 15px 20px;
    font-size: 0.9rem;

}

.ulCart{

    max-height: 300px;
    overflow-y: scroll;
    background-color: #F5F5F5;

}

.ulCart__mensagem{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;

}

.ulCart__mensagem > p{

    font-weight: 600;
    color: var(--grey-100);
    font-size: 1.1rem;

}

.ulCart__mensagem > span{

    font-weight: 500;
    color: var(--grey-50);
    font-size: 0.8rem;

}

.boxTotalCart{

    background-color: #F5F5F5;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    
}

.boxTotalCart > div{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    width: 90%;
    border-top: 2px solid #E0E0E0;
    margin: 0 auto;
}

.boxTotalCart > div > span:nth-child(1){

    font-weight: 600;
    color: var(--grey-100);
    font-size: 1rem;

}

.boxTotalCart > div > span:nth-child(2){

    color: var(--grey-50);
    font-weight: 500;
    font-size: 0.87rem;

}

.boxTotalCart > button{

    width: 90%;
    margin: 15px 0 20px 0;
    padding: 10px;
    border-radius: 8px;

}

@media (min-width: 650px){

   .conatinerCart{

      width: 95%;

   }

}

@media (min-width: 900px){

   .conatinerCart{

      flex-direction: column;
      width: 35%;
      margin: 0px 25px;
      position: fixed;
      top: 122px;
      right: 0;

   }


}

@media (min-width: 960px){

   .conatinerCart{

       width: 37%
      
   }


}

@media (min-width: 1040px){

   .conatinerCart{

      width: 40%;
      right: 17px;
      
   }

}

@media (min-width: 1100px){

   .conatinerCart{

      right: 27px;
      
   }

}

@media (min-width:1200px){

   .conatinerCart{

      width: 367px;
      right: -12px;

   }


}

@media (min-width: 1300px){

   .conatinerCart{

      width: 370px;
      right: 15px;

   }

   .ulCart::-webkit-scrollbar{

      width: 5px;
      background-color: transparent;

   }

   .ulCart::-webkit-scrollbar-thumb{

      background-color: grey;
      border-radius: 8px;

   }


}



