
.mensagemResultadoPesquisa{

    margin: 10px 20px;
    display: flex;
    align-items: center;

}

.mensagemResultadoPesquisa > h2{

    font-size: 1.1rem;

}

.mensagemResultadoPesquisa > span{

    font-size: 1.1rem;
    color: var(--grey-50);
    margin-left: 7px;

}

.ulCards{

    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 7px;

}

.ulCards::-webkit-scrollbar{

    background-color: transparent;
    height: 7px;

}

.ulCards::-webkit-scrollbar-thumb{

    background-color: transparent;

}

.ulCards > li{

    background-color: var(--grey-0);
    min-width: 250px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #E0E0E0;
    border-radius: 5px;

}

.ulCards > li > img{

    background-color: var(--grey-0);
    width: 150px;
    height: 150px;

}

.ulCards > li > div{

    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.ulCards > li > div > h3, span, button{

    margin: 7px 15px;
    
}

.ulCards > li > div > h3{

    margin-top: 25px;
    color: var(--grey-100);
}

.ulCards > li > div > span:nth-child(3){

    color: var(--Color-primary);

}

.ulCards > li > div > span:nth-child(2){

    color: var(--grey-50);

}

.ulCards > li > div > button{

    width: 35%;
    padding: 8px;
    margin-bottom: 15px;

}

@media (min-width: 900px){

    .ulCards{

        overflow: none;
        flex-direction: column;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 45% 45%;

    }

    .ulCards > li{

        width: 90%;

    }

}

@media (min-width: 1000px){

    .ulCards{

        grid-template-columns: 40% 40%;

    }

}

@media (min-width: 1100px){

    .ulCards{

        grid-template-columns: 300px 300px;

    }

}

@media (min-width: 1200px){

    .ulCards{

        width: 100%;
        grid-template-columns: 33% 33% 33%;
        margin-top: 30px;
       
    }

}

@media (min-width: 1370px){

    .contentPage{

        background-color: aqua;
        width: 1200px;
        margin-left: 35px;
        grid-template-columns: none;
        position: relative;
        
    }

    .ulCards{

        background-color: red;
        width: 900px;

    }

}